<div class="container mt-3">
  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span><strong> {{ errorMessage }} </strong></span>
    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    <span><strong> {{ successMessage }} </strong></span>
    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <form [formGroup]="userForm">
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="fullname" placeholder="Name">
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="email" placeholder="Email">
    </div>
    <div class="col-lg-4 mt-2">
      <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
    </div>
    <div class="col-lg-4 mt-2" *ngIf="!paramId">
      <button class="btn btn-primary" (click)="submitUser()">Create</button>
    </div>
    <div class="col-lg-4 mt-2" *ngIf="paramId">
      <button class="btn btn-info" (click)="updateUser()">Update</button>
    </div>
  </form>
</div>
