<div class="container mt-3">
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    <span><strong> {{ successMessage }} </strong></span>
    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let data of readData'>
        <th scope="row"> {{ data.id }} </th>
        <td> {{ data.fullname }} </td>
        <td> {{ data.email }} </td>
        <td> {{ data.mobile }} </td>
        <td>
          <a class="btn btn-warning" [routerLink]="['/create', data.id]" >Edit</a>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(data.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
